.my-contain {
    background-color: #f7cac9;
}

.colm {
    height: 150px;
    background-color: #f7786b;
}

.my-row {
    height: 220px;
    
}

p {
    color: #fff;
    text-align: center;
}